* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#005EDF, #38336B, #A3264A, #FF6326);

}

#container {

    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 15px;

}

#banner {

    height: 90%;
    width: 45%;
    background-image: url("/View/Modules/Cores/Images/Favicon.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#conteudo {

    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#campos {

    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#form {

    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#form input {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;

}

#botoes {

    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#conteudo button {

    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;

}

#conteudo button:hover {

    cursor: pointer;

}

#form button {

    background-color: #008000;

}

#btn_voltar {

    margin-right: 2.5px;
    background-color: #FF0000;

}

#btn_listagem {

    margin-left: 2.5px;
    background-color: #FFA500;

}

#botoes a {

    text-decoration: none;
    color: #FFFFFF;

}