* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#BCE6F5, #2589A0, #D12C50, #F75454);

}

#container {

    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#header {

    height: 10%;
    width: 90%;
    background-color: #000000;
    border: 5px solid #000000;
    margin-bottom: 2%;

}

#header th {

    width: 20%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;

}

#registros {

    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;

}

#content {

    height: 100%;
    width: 100%;
    background-color: #000000;
    border: 5px solid #000000;

}

#content td {

    width: 20%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;

}

#content button {

    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

}

#content button a {

    text-decoration: none;
    color: #000000;

}

#no_rows {

    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 5px solid #000000;

}